@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .heading {
    @apply uppercase
  }

  .title {
    @apply uppercase text-[30px] sm:text-[24px] p-0 m-0 !font-semibold
  }

  .pattern {
    background-image: linear-gradient(to right,
        transparent 49.5%,
        rgba(231, 231, 231, 0.5) 49.5%,
        rgba(234, 234, 234, 0.4) 50.5%,
        transparent 50.5%);
    background-size: 5% 100%;
    background-position: center;
    background-repeat: repeat-x;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.debug {
  border: 1px dotted red !important;
}

.w3-container {
  padding: 0.01em 16px;
}

.w3-content {
  max-width: 980px;
}

nav {
  background-color: #252525;
  height: 90px;
  transition: all 250ms ease;
}

nav a {
  color: white;
  text-decoration: none;
}

nav.nav-bar-transparent {
  background-color: transparent !important;
}

nav .selected,
.sub-nav.selected>span,
.inner-nav.selected {
  border-bottom: 2px solid #f44336;
}

.hero3 {
  min-height: 550px !important;
  height: 550px !important;
}

.line1 {
  line-height: 1;
}

input.dark,
button.dark,
textarea.dark {
  background-color: #252525;
  padding: 8px;
  display: block;
  border: none;
  width: 100%;
}

.dropdown-toggle::after {
  display: none !important;
}